body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

li {
    list-style: none;
}

hr {
    margin: 0 0 20px;
}

a:hover {
    text-decoration: none;
}

.logo {
    width: 60px;
    height: 50px;
    border-radius: 10%;
}

.name {
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.on {
    color: rgb(255, 103, 126);
}

.open {
    background-color: rgb(255, 103, 126);
    color: #fff;
}

.orange {
    color: orange;
}

#header {
    width: 100%;
    height: 40px;
    background-color: rgb(51, 51, 51);
    line-height: 40px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-pills a {
    color: #ccc;
    display: inline-block;
    padding: 0 10px;
}

.nav-pills li:hover {
    background-color: #000;
}

.navleft {
    padding-left: 40px;
}

.navright {
    padding-right: 40px;
}

.navleft li {
    float: left;
    margin-left: 10px;
    display: inline-block;
}

.navright li {
    float: right;
    margin-right: 10px;
}

.container {
    margin-top: 60px;
}

.main_left {
    width: 640px;
    float: left;
}

.main_right {
    width: 300px;
    float: right;
}

.main_title {
    height: 50px;
    line-height: 50px;
}

.main_title span {
    font-size: 20px;
}

.main_title a {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

.main_title a:hover {
    color: rgb(255, 103, 126);
}

.main_right_add {
    background-color: rgb(255, 103, 103);
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
}

.main_right a:hover {
    background-color: rgb(255, 103, 103);
    color: #fff;
}

.main_right_content {
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.footer {
    margin: 30px auto;
    padding: 0 auto;
}