.row-2 {
    background: #fff;
    padding: 14px 0;
}

.row-2 {
    background: #8c8b8b;

    font-style: italic;
}

.row-2 h3 {
    margin: 10px 0;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    /*color: #F25C27;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
}

h3 {
    font-size: 30px;
    line-height: 34px;
    margin: 32px 0 15px;
    font-weight: normal;
}

h5 {
    font-size: 18px;
    /*color: #939393;*/
    font-weight: 600;
    letter-spacing: -1px;
}

.row-2 {
    padding: 0 15px;
}

/*@media (min-width: 1100px) {*/
    /*.row {*/
        /*margin-left: -45px;*/
        /**zoom: 1;*/
    /*}*/

    /*.row1 {*/
        /*margin-left: -19px;*/
        /**zoom: 1;*/
    /*}*/

    /*.row:before,*/
    /*.row:after {*/
        /*display: table;*/
        /*content: "";*/
        /*line-height: 0;*/
    /*}*/

    /*.row:after {*/
        /*clear: both;*/
    /*}*/
/*}*/